// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

  .title {
  }

  .date {
    font-size: 14px;
    margin: 10px;
  }

  .time {
    font-size: 74px;
    font-weight: 700;
    margin: -25px;
    padding: 0;
  }

}
