// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

  .title {
  }

  .date {
    font-size: 14px;
  }

  .time {
    font-size: 70px;
    font-weight: 700;
  }

}
