// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import "application.scss";

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

  .title {
    margin: 5px;
    color: $title-color;
  }

  .date {
    font-size: 14px;
  }

  .short-date {
    font-size: 24px;
  }

  .weekday {
    font-size: 24px;
  }

  .time {
    font-size: 68px;
    font-weight: 700;
  }

}
