// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import "application.scss";

// ----------------------------------------------------------------------------
// Widget-climate styles
// ----------------------------------------------------------------------------
.widget-climate {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .temperature {
    font-size: 64px;
    font-weight: 700;
  }

  .humidity {
    font-size: 24px;
  }
}
