// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import "application.scss";

$moreinfo-color:    rgb(255, 255, 255);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .value {
    font-size: 78px;
    font-weight: 700;
    color: $value-color;
  }

  .change-rate {
    font-size: 40px;
    font-weight: 700;
    color: $value-color;
  }

  .more-info {
    font-size: 26px;
    color: $moreinfo-color;
  }

}
