// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
// Import global settings (color, size, etc.)

@import "application.scss";

$meter-background:  rgba(255, 85, 102, 0.8);
$meter-color:       rgba(68, 187, 119, 1);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $background-color;

  input.meter {
    background-color: $meter-background;
    color: $meter-color;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
