<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_margins = [5,5]
  Dashing.widget_base_dimensions = [310,155]
  //Experimental: widget size based on window size.
  //Dashing.widget_base_dimensions = [$( window ).width()/5, $( window ).height()/2.5];
  Dashing.numColumns = 4
});
</script>

<% content_for :title do %>Icinga 2 @ fritz.box<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div
        data-view="Clock"
        data-title="Frankfurt am Main"
        data-timezone="Europe/Berlin"
        data-locale="de-DE"
      ></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div
        data-view="Clock"
        data-title="Bangkok"
        data-timezone="Asia/Bangkok"
        data-locale="de-DE"
      ></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
      <div
           data-id="icinga-host-meter"
           data-view="Meter"
           data-title="Hosts"
      ></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div
        data-id="icinga-service-meter"
        data-view="Meter"
        data-title="Services"
      ></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
      <div class="scrollable"
        data-id="icinga-severity"
        data-view="List"
        data-unordered="true"
        data-title="Problems"
      ></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="2">
      <div
        data-id="icinga-room-climate"
        data-view="Number"
        data-title="Room Climate"
      ></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="2">
      <div
        data-id="icinga-isp"
        data-view="Datatransfer"
      ></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="2">
      <div
        data-id="icinga-isp-usage"
        data-view="Datausage"
      ></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="2">
      <div
        data-id="icinga-stats"
        data-view="List"
        data-unordered="true"
        data-title="Statistics"
      ></div>
    </li>

  </ul>

</div>
