// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import "application.scss";

$unitinfo-color:    rgb(255, 255, 255);
$uptime-color:      rgb(255, 255, 255);

// ----------------------------------------------------------------------------
// Widget-datatransfer styles
// ----------------------------------------------------------------------------
.widget-datatransfer {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .down-stream {
    font-size: 78px;
    font-weight: 700;
    color: $value-color;
  }

  .up-stream {
    font-size: 40px;
    font-weight: 700;
    color: $value-color;
  }

  .uptime-info {
    color: $uptime-color;
  }

  .unit-info {
    color: $unitinfo-color;
  }
}
